<?xml version="1.0" encoding="UTF-8"?>

<!-- http://phpunit.de/manual/4.1/en/appendixes.configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.1/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         strict="true"
         bootstrap="bootstrap.php.cache"
         stopOnError="true"
         stopOnFailure="true"
         stopOnIncomplete="true"
         stopOnSkipped="true"
         stopOnRisky="true">
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">../src/</directory>
        </whitelist>
        <blacklist>
            <directory suffix=".php">../vendor</directory>
        </blacklist>
    </filter>
    <testsuites>
        <testsuite name="OBN API Test Suite">
            <directory>../src/OBN/Api/*Bundle/Tests/Controller</directory>
        </testsuite>
    </testsuites>
</phpunit>
